<h1>Date slider</h1>

<h2>Reactive Form with date slider</h2>
<form [formGroup]="formGroup">
  <lib-minimalist-date-slider
    formControlName="date"
    (dateChange)="handleDateSelected($event)"
  ></lib-minimalist-date-slider>
  <br />
  <section id="form-actions">
    <lib-minimalist-button class="form-reset-btn" (click)="resetForm()"
      >Clear</lib-minimalist-button
    >
    <lib-minimalist-button
      class="form-submit-btn"
      [disabled]="formGroup.invalid"
      (click)="handleSubmit()"
      >Submit</lib-minimalist-button
    >
  </section>
</form>

<p>Form Value</p>
<pre
  >{{ dateSliderStatus | json }}
</pre>
<p>Date slider validation errors</p>
<pre
  >{{ formGroup.controls.date.errors | json }}
</pre>
