section#showcase {
  display: grid;
  grid-template-areas:
    "header header header"
    "button summary slider";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;

  header {
    grid-area: header;
    h1 {
      text-align: center;
    }
  }

  section#button {
    grid-area: button;
  }

  section#date-slider {
    grid-area: slider;
  }

  section#summary {
    grid-area: summary;
  }
}

.showcase-btn {
  .minimalist-button {
    .minimalist-button-front {
      background-color: #daf5ff;
    }
  }
}
