<section id="showcase">
  <header>
    <h1>Minimalist UI showcase</h1>
  </header>

  <section id="button">
    <app-container [title]="'Button'">
      <lib-minimalist-button class="showcase-btn" (click)="logEvent($event)">
        Hello World
      </lib-minimalist-button>
    </app-container>
  </section>

  <section id="summary">
    <app-container [title]="'Summary'">
      <lib-minimalist-summary
        [summaryList]="products"
        [currencyCode]="currency"
      ></lib-minimalist-summary>
    </app-container>
  </section>

  <section id="date-slider">
    <app-container [title]="'Date Slider'">
      <lib-minimalist-date-slider
        (dateChange)="handleDateSelected($event)"
      ></lib-minimalist-date-slider>
    </app-container>
  </section>

  <section id="checkbox">
    <app-container [title]="'Checkbox Amount'">
      <lib-minimalist-checkbox-amount
        [checkboxItem]="checkboxItem"
        (checked)="onCheckBoxChange($event)"
      >
      </lib-minimalist-checkbox-amount>
    </app-container>
  </section>

  <section id="card">
    <app-container [title]="'Card'">
      <lib-minimalist-card
        (headerClick)="handleHeaderClick($event)"
        [showHeaderIcon]="true"
      >
        <div class="minimalist-card-header-content">Inventory</div>
        <div class="minimalist-card-body-content">
          <div>2 - clips</div>
          <div>4 - rules</div>
          <div>10 - pencils</div>
        </div>
      </lib-minimalist-card>
    </app-container>
  </section>

  <section id="progressbar">
    <app-container [title]="'Progress bar'">
      <lib-progress-bar
        [currentProgress]="currentStep"
        [numberSteps]="5"
        (progressChange)="logProgressChange($event)"
      ></lib-progress-bar>
    </app-container>
  </section>

  <section id="alert">
    <app-container [title]="'Alert'">
      <lib-minimalist-alert>
        <div class="flex center gap-sm">
          <figure smallFigure [borderStyle]="'dashed'">
            <img
              src="https://s3-ap-southeast-2.amazonaws.com/transforms.imagescience.com.au/_202306_imager-transforms/s3images/Products/Clearance-Products/39878/SALE_8a39ff8a6b9c4355b296f93fc26068cc.jpg"
              alt="on sale"
            />
          </figure>
          <p><b>On Sale 20%</b></p>
        </div>
        <p><small>Only on marked section</small></p>
      </lib-minimalist-alert>
    </app-container>
  </section>

  <section id="navbutton">
    <app-container [title]="'Nav Button'">
      <lib-minimalist-nav-button (clicked)="onNavButtonClick($event)">
        <p><b>Go to discounts</b></p>
      </lib-minimalist-nav-button>
    </app-container>
  </section>

  <section id="processList">
    <app-container [title]="'Process List'">
      <lib-minimalist-process-list
        [infoList]="infos"
        [initialSelectedIndex]="1"
        (itemSelected)="handleItemSelected($event)"
      ></lib-minimalist-process-list>
    </app-container>
  </section>
</section>
