<section id="showcase">
  <header>
    <h1>Minimalist UI showcase</h1>
  </header>

  <section id="button">
    <app-container [title]="'Button'">
      <lib-minimalist-button class="showcase-btn" (click)="logEvent($event)">
        Hello World
      </lib-minimalist-button>
    </app-container>
  </section>

  <section id="summary">
    <app-container [title]="'Summary'">
      <lib-minimalist-summary
        [summaryList]="products"
        [currencyCode]="currency"
      ></lib-minimalist-summary>
    </app-container>
  </section>

  <section id="date-slider">
    <app-container [title]="'Date Slider'">
      <lib-minimalist-date-slider
        (dateChange)="handleDateSelected($event)"
      ></lib-minimalist-date-slider>
    </app-container>
  </section>

  <section id="checkbox-amount">
    <app-container [title]="'Checkbox Amount'">
      <lib-minimalist-checkbox-amount
        [checkboxItem]="checkboxItem"
        (checked)="onCheckBoxChange($event)"
      >
      </lib-minimalist-checkbox-amount>
    </app-container>
  </section>
</section>
