section#showcase {
  display: grid;
  grid-template-areas:
    "header header header"
    "button summary slider"
    "checkbox card progressbar";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;

  header {
    grid-area: header;
    h1 {
      text-align: center;
    }
  }

  section#button {
    grid-area: button;
  }

  section#date-slider {
    grid-area: slider;
  }

  section#summary {
    grid-area: summary;
  }

  section#checkbox {
    grid-area: checkbox;
  }
  section#card {
    grid-area: card;
  }
  section#progressbar {
    grid-area: progressbar;
    lib-progress-bar {
      display: flex;
      justify-content: center;
    }
  }
}

.showcase-btn {
  .minimalist-button {
    .minimalist-button-front {
      background-color: #daf5ff;
    }
  }
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.gap-sm {
  gap: 10px;
}
