@import "../mixins";

lib-date-slider {
  @include font();
  color: #2c3333;

  .minimalist-date-slider {
    position: relative;

    &-front {
      @include border(2px);
      @include no-selection();
      padding: 20px 15px;
      background-color: white;
      overflow: hidden;
      &-slider {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        &-date {
          padding: 15px 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          border: 2px solid transparent;
          cursor: pointer;
          &:hover {
            background-color: #a5f1e9;
            border-radius: 9px;
          }
          &.active {
            @include border(2px);
            background-color: #7fe9de;
            color: black;
            transition: background-color 0.8s ease, border-color 0.8s ease;

            .minimalist-date-slider-front-slider-date-day {
              transform: translateY(-40px);
              transition: transform 0.4s ease;
            }

            .minimalist-date-slider-front-slider-date-value {
              transform: translateY(30px);
              transition: transform 0.4s ease;
            }
          }

          &-value {
            font-size: 1.9rem;
          }
        }
      }
    }

    &-back {
      @include back-border();
      background-color: #ffeebb;
    }
  }
}
