<div
  class="minimalist-checkbox"
  [ngClass]="{ 'minimalist-checkbox-active': value }"
>
  <div class="minimalist-checkbox-front" (click)="checkboxClicked()">
    <div class="minimalist-checkbox-front-left">
      <img
        alt="minimalist-checkbox-icon"
        class="minimalist-checkbox-front-left-icon"
        [src]="checkboxItem.icon"
        *ngIf="checkboxItem.icon; else defaultIcon"
      />
      <ng-template #defaultIcon>
        <i
          class="minimalist-checkbox-front-left-icon gg-check-o"
          [style.background-color]="value ? '#9CFF2E' : ''"
        ></i>
      </ng-template>
      <div class="minimalist-checkbox-front-left-text">
        {{ checkboxItem.text }}
      </div>
    </div>
    <div class="minimalist-checkbox-front-right">
      {{ checkboxItem.value }}
    </div>
  </div>
  <div class="minimalist-checkbox-back"></div>
</div>
