lib-minimalist-button {
  font-family: "Josefin Sans", sans-serif;
}
lib-minimalist-button div.minimalist-button {
  cursor: pointer;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
lib-minimalist-button div.minimalist-button-disabled {
  pointer-events: none;
}
lib-minimalist-button div.minimalist-button-disabled div.minimalist-button-front {
  background-color: #daeaf1;
}
lib-minimalist-button div.minimalist-button div.minimalist-button-front {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  padding: 15px 0;
  text-align: center;
  font-size: 17px;
  background-color: white;
  color: black;
}
lib-minimalist-button div.minimalist-button div.minimalist-button-front:hover {
  transform: translate(1px, 1px);
}
lib-minimalist-button div.minimalist-button div.minimalist-button-front:active {
  transform: translate(3px, 2px);
}
lib-minimalist-button div.minimalist-button div.minimalist-button-back {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 3px;
  height: 100%;
  display: block;
  z-index: -1;
}

lib-minimalist-summary {
  font-family: "Josefin Sans", sans-serif;
}
lib-minimalist-summary .minimalist-summary {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  overflow: hidden;
}
lib-minimalist-summary .minimalist-summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
}
lib-minimalist-summary .minimalist-summary-item:not(.minimalist-summary-total):not(:nth-last-child(2)) {
  border-bottom: 1px dashed black;
}
lib-minimalist-summary .minimalist-summary-total {
  background-color: #def5e5;
  border-top: 2px solid black;
  font-weight: bold;
}

lib-minimalist-date-slider {
  font-family: "Josefin Sans", sans-serif;
  color: #2c3333;
}
lib-minimalist-date-slider .minimalist-date-slider {
  position: relative;
}
lib-minimalist-date-slider .minimalist-date-slider-front {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  padding: 20px 15px;
  background-color: white;
  overflow: hidden;
}
lib-minimalist-date-slider .minimalist-date-slider-front-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
lib-minimalist-date-slider .minimalist-date-slider-front-slider-date {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}
lib-minimalist-date-slider .minimalist-date-slider-front-slider-date:hover {
  background-color: #eef8f1;
  border-radius: 9px;
}
lib-minimalist-date-slider .minimalist-date-slider-front-slider-date.active {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  background-color: #def5e5;
  color: black;
  transition: background-color 0.8s ease, border-color 0.8s ease;
}
lib-minimalist-date-slider .minimalist-date-slider-front-slider-date.active .minimalist-date-slider-front-slider-date-day {
  transform: translateY(-40px);
  transition: transform 0.4s ease;
}
lib-minimalist-date-slider .minimalist-date-slider-front-slider-date.active .minimalist-date-slider-front-slider-date-value {
  transform: translateY(30px);
  transition: transform 0.4s ease;
}
lib-minimalist-date-slider .minimalist-date-slider-front-slider-date-value {
  font-size: 1.9rem;
}
lib-minimalist-date-slider .minimalist-date-slider-back {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 3px;
  height: 100%;
  display: block;
  z-index: -1;
  background-color: #ffeebb;
}

lib-minimalist-checkbox-amount {
  font-family: "Josefin Sans", sans-serif;
}
lib-minimalist-checkbox-amount div.minimalist-checkbox {
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
lib-minimalist-checkbox-amount div.minimalist-checkbox.minimalist-checkbox-active div.minimalist-checkbox-front {
  transform: translate(3px, 2px);
}
lib-minimalist-checkbox-amount div.minimalist-checkbox.minimalist-checkbox-active div.minimalist-checkbox-front:hover {
  transform: translate(3px, 2px);
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-front {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  font-size: 17px;
  background-color: white;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-front:hover {
  transform: translate(1px, 1px);
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-front:active {
  transform: translate(3px, 2px);
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-front div.minimalist-checkbox-front-left {
  padding: 15px 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border-right: 1px dashed black;
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-front div.minimalist-checkbox-front-left div.minimalist-checkbox-front-left-text {
  margin-left: 8px;
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-front div.minimalist-checkbox-front-left img.minimalist-checkbox-front-left-icon {
  min-width: 22px;
  height: 22px;
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-front div.minimalist-checkbox-front-right {
  padding: 15px;
  display: flex;
  align-items: center;
}
lib-minimalist-checkbox-amount div.minimalist-checkbox div.minimalist-checkbox-back {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 3px;
  height: 100%;
  display: block;
  z-index: -1;
}

lib-minimalist-card {
  font-family: "Josefin Sans", sans-serif;
}
lib-minimalist-card .minimalist-card {
  position: relative;
}
lib-minimalist-card .minimalist-card .minimalist-card-front {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  background-color: white;
  color: black;
  overflow: hidden;
}
lib-minimalist-card .minimalist-card .minimalist-card-front .minimalist-card-header {
  padding: 15px;
  background-color: #e0f5f5;
  cursor: pointer;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
lib-minimalist-card .minimalist-card .minimalist-card-front .minimalist-card-body {
  padding: 15px;
}
lib-minimalist-card .minimalist-card .minimalist-card-back {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 9px;
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 3px;
  height: 100%;
  display: block;
  z-index: -1;
}

/*# sourceMappingURL=minimalist-ui-styles.css.map */
