@mixin font {
  font-family: "Josefin Sans", sans-serif;
}

@mixin border($border-width) {
  border-color: black;
  border-style: solid;
  border-width: $border-width;
  border-radius: 9px;
}

@mixin no-selection() {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@mixin back-border() {
  @include border(2px);
  position: absolute;
  width: 100%;
  bottom: -6px;
  left: 3px;
  height: 100%;
  display: block;
  z-index: -1;
}

@mixin reset-text-input() {
  input {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
  }

  input:focus {
    outline: 0;
  }

  input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
  }

  ::-webkit-search-decoration {
    display: none;
  }
}
