<div class="minimalist-summary">
  @for(item of summaryList;track $index) {
  <div class="minimalist-summary-item">
    <span class="minimalist-summary-item-detail">{{ item.detail }}</span>
    <span class="minimalist-summary-item-amount">{{
      item.amount | currency : currencyCode : "symbol"
    }}</span>
  </div>
  } @if (summaryList.length > 0) {
  <div class="minimalist-summary-item minimalist-summary-total">
    <span class="minimalist-summary-item-detail">Total</span>
    <span class="minimalist-summary-item-amount">{{
      total | currency : currencyCode : "symbol"
    }}</span>
  </div>
  }
</div>
