<main>
  <header>
    <h1>Minimalist UI showcase</h1>
  </header>

  <section id="button">
    <app-container [title]="'Button'">
      <lib-ngx-minimalist-button
        (click)="logEvent($event)"
        [backgroundColor]="backgroundColor"
      >
        Hello World
      </lib-ngx-minimalist-button>
    </app-container>
  </section>

  <section id="summary">
    <app-container [title]="'Summary'">
      <lib-ngx-minimalist-summary
        [summaryList]="products"
        [currencyCode]="currency"
      ></lib-ngx-minimalist-summary>
    </app-container>
  </section>
</main>
