lib-minimalist-checkbox-amount {
  display: block;
  margin-bottom: 20px;
}

#form-actions {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.form-submit-btn {
  display: block;
  width: 150px;
  .minimalist-button.minimalist-button-disabled {
    .minimalist-button-front {
      background-color: #eee;
      color: black;
    }
  }
  .minimalist-button {
    .minimalist-button-front {
      background-color: #14c38e;
      color: white;
    }
  }
}

.form-reset-btn {
  display: block;
  width: 150px;
  .minimalist-button {
    .minimalist-button-front {
      background-color: #ffa1a1;
      color: black;
    }
  }
}
