@mixin font {
  font-family: "Josefin Sans", sans-serif;
}

@mixin border($border-width) {
  border-color: black;
  border-style: solid;
  border-width: $border-width;
  border-radius: 9px;
}

@mixin no-selection() {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
