<div class="minimalist-progressbar">
  @for (step of steps; track $index) {
  <div class="minimalist-progressbar-item">
    <i
      class="minimalist-progressbar-icon gg-check-o"
      [class.minimalist-progressbar-icon-complete]="isStepComplete(step)"
      (click)="onIconClick(step)"
    ></i>
    @if (step < steps.length) {
    <div
      class="minimalist-progressbar-icon-line"
      [class.minimalist-progressbar-icon-line-active]="isStepComplete(step + 1)"
    >
      <div class="minimalist-progressbar-icon-line-x"></div>
    </div>
    }
  </div>
  }
</div>
